@tailwind base;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  h1 {
    @apply text-4xl md:text-5xl leading-extra-tight font-medium text-center;
  }

  h2 {
    @apply text-2xl md:text-4xl leading-extra-tight;
  }

  h3 {
    @apply text-2xl md:text-3xl font-semibold;
  }

  h4 {
    @apply text-xl md:text-2xl font-semibold;
  }
}

@tailwind components;
@tailwind utilities;

:root {
  --green: #14C200;
}

#myModal {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-container {
  margin: auto;
  padding: 12px;
  width: 90%;
  height: 90%;
  border-radius: 0.75rem;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  margin-top: 20px;
}

.modal-container p {
  font-size: 16px;
}

.modal-container button {
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) {
  .modal-container {
    padding: 20px;
    width: 50%;
    margin-top: 100px;
  }
}

button {
  box-shadow: 0px 4px 15px -3px rgba(0, 0, 0, 0.5);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #ccc;
  color: black;
}

.declineButton {
  @apply bg-red-500 hover:bg-red-700 text-white py-2 px-4 rounded-lg font-medium;
  box-shadow: 0px 4px 15px -3px rgba(0, 0, 0, 0.5);

  &.alt {
    @apply bg-white border border-red-500 text-red-500 py-2 px-4 rounded-lg hover:bg-slate-200 hover:scale-105 transition-all;
  }
}

.acceptButton {
  @apply bg-mygreen hover:bg-green-700 text-white py-2 px-4 rounded-lg font-medium;
  box-shadow: 0px 4px 15px -3px rgba(0, 0, 0, 0.5);

  &.alt {
    @apply bg-white border border-mygreen text-mygreen py-2 px-4 rounded-lg hover:bg-slate-200 hover:scale-105 transition-all;
  }
}

body {
  background: linear-gradient(180deg, #dceeff 25.62%, #f6fbff 68.75%);
  min-height: 100vh !important;
  color: #0D1F3C;
  margin: auto;
  font-family: var(--font-poppins) !important;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #0C1A2A !important;
}

.overlay-green {
  background: rgba(20, 194, 0);

}

.edit-text {
  @apply text-orange-500 float-right font-light text-sm cursor-pointer;
}

.blog-section a{
  @apply text-secondary font-medium;
}

section {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.blog-section {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  p {
    margin-bottom: 6px;
  }
}

Footer {
  min-width: 100% !important;
  background-color: #0C1A2A !important;
  margin: 0px !important;
  margin-top: auto !important;

}

.container {
  margin: auto;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  max-width: 1300px !important;
}

.tagrenoveringspan {
  color: var(--green);
}

p {
  line-height: 1.7 !important;
}

.visually-hidden {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.beregnKnap {
  background: var(--green);
  border-radius: 10px;
  padding: 0.7rem 1.1rem;
  color: #fff;
}

.beregnKnap:hover {
  background: var(--green);
}

.linkKnap {
  background: var(--green);
  border-radius: 10px;
  padding: 15px 25px;
  color: #fff;
  text-decoration: none;
}

.beregnerStart {
  background: linear-gradient(0deg, rgba(12, 26, 42, 1), rgba(12, 26, 42, 0.9));
  box-shadow: 0px 4px 23px 5px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.adresseInput {
  width: 100%;
}

.artikelTekst {
  white-space: 'pre-line';
  margin-bottom: '10px',
}

.menuDropdown {
  position: absolute;
  width: 200px;
  right: 0;
  z-index: 1;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 23px 5px rgba(0, 0, 0, 0.20);
}

.menuDropdown li {
  padding: 15px 50px 15px 20px;
  width: 100% !important;
  text-align: start;
  border-radius: 10px;
  font-weight: 500;
}

.blog-section {
  ul {
    @apply list-disc list-inside mb-4 font-semibold ml-2;
  }
}

div.faq-container {
  .question {
    @apply font-semibold mb-2;
  }

  .answer {
    @apply mb-4;
  }
}

div.toc-container {
  @apply p-4;
  margin-bottom: 20px;
  background: #fbfcfd;
  border-radius: 7px;
  border: 1px solid #ddd;

  p.headlines {
    @apply mb-4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  ul {
    @apply text-sm;
    font-weight: 400;
    list-style-position: inside;
    list-style-type: disc;
  }

  .ib-toc-separator {
    background: #333;
  }

  p {
    @apply mb-0;
  }

  nav {

    ul {
      @apply ml-0 my-0;

      li {
        @apply mb-0;
        font-size: 1rem;
        ul {
          @apply ml-6 mb-0;
        }
      }
    }

    a {
      color: unset;
      text-decoration: none;
    }
  }
}

.addressInputDiv {
  @apply w-full lg:w-8/12 mx-auto my-4;
}

.addressInputWrapper {
  @apply relative;
}

.addressInput {
  @apply p-7 border border-2 border-zinc-400 rounded-2xl w-full text-black bg-white gap-1 shadow-2xl;
}

.forslagsListe {
  @apply bg-white p-5 gap-1 text-black shadow-lg;
  position: absolute;
  margin: auto;
  z-index: 1;
  top: 85px;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 250px;
  border-radius: 10px;
  margin-top: 5px;
  padding: 10px !important;
}

.succes-message-copy {
  display: block;
  background: #0C1A2A;
  color: white;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#breadcrumbs a{
  color: black;
}

.menuDropdown li:hover {
  width: 100% !important;
  background: #F3F9FF;
  color: black;
}
.navSearch {
  @apply lg:hidden;
  height: 50px;
  flex-grow: 0;
  margin-left: 1em;
  min-width: 240px;
  &.mobile{
    @apply hidden lg:block;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1em;

    @media (min-width: 480px) {
      justify-content: flex-end;
      margin-right: -1rem;
    }
  }

  input {
    font-size: 1.0rem;
    padding: 6px;
    border-radius: 5px;
    }

  button {
    font-size: 1.2em;
    background: none;
    padding: 1.045em;
    border: none;
    outline: none;
    cursor: pointer;
    float: right;
    &[disabled] {
      svg {
        transition: fill 0.5s;
      }
    }

    svg {
      transform: translateY(2px);
    }
  }
}
#article-text{
  @apply mt-4;
}
.footer-link{
  @apply text-base mb-1 hover:text-primary;
}

.article-hero-image{
  @apply w-full h-96 object-cover object-center rounded-lg;
}

.yarpp-thumbnails-horizontal{
  @apply grid grid-cols-2 md:grid-cols-4 gap-2 text-center mt-4;
  a{
    @apply flex flex-col hover:text-primary items-center text-sm;
  }
  img{
    @apply w-full h-32 object-cover object-center rounded-lg;
  }
}

.navSearchResults {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100vw;
  background-color: white;
  padding: 1.5em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  border-top: solid 5px;
  margin-right: -1rem;
  z-index: 999;

  @media (min-width: 480px) {
    width: 30em;
    margin-right: 0;
  }

  [data-search-is-active="true"] & {
    display: block;
  }

  p {
    line-height: 1.15;
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: -0.5em 0;
  }

  a {
    display: block;
    text-decoration: none;
    padding: 0.5em;
    margin: 0 -0.5em;
    &:focus {
      outline: 2px solid;
    }
  }
}
.menuDropdown Link {
  width: 100% !important;
}

button.mobileMenu {
  @media screen and (max-width: 768px) {
    position: relative;
    display: inline-block;
    box-shadow: none;
  }
}
button.noShadow {
  box-shadow: none;
}
.calculator {
  width: 100%;
  background: linear-gradient(153.37deg, #0C1A2A 6.94%, rgba(12, 26, 42, 0.87) 88.51%);
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  border-radius: 30px;

}

.forslagsListe li {
  @apply bg-white p-5 w-full text-start hover:bg-mygreen hover:text-white active:bg-mygreen active:text-white rounded-lg
}

.boligOplysninger {
  background: #0C1A2A;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: white;
}

.boligInput {
  height: 50px;
  background: white;
  color: #0C1A2A;
  border-radius: 10px;
}

.inputLabel {
  font-weight: 200;
  color: #D7D7D7;
}

.renoType {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}


.iconBox {
  width: 60px;
  height: 60px;
  background: #233447;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.numberBox {
  width: 30px;
  height: 30px;
  background: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.iconBoxLight {
  width: 60px;
  height: 60px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}




.renoType {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.renoType:hover {
  scale: 1.1;
}

.center-in-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.pricerange-line {
  width: 100%;
  height: 10px;
  background: var(--green);
  border-radius: 10px;
}

/* Center all content */
.pricerange-lowprice {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pricerange-lowpriceline {
  width: 10px;
  height: 20px;
  background: var(--green);
  border-radius: 10px;
}

.pricerange-middlepriceline {
  width: 10px;
  height: 35px;
  background: var(--green);
  border-radius: 10px;
  min-height: fit-content;
}

.pricerange-highpriceline {
  width: 10px;
  height: 45px;
  background: var(--green);
  border-radius: 10px;
}

.råd {
  width: 100%;
  background: #F3F9FF;
  color: #0C1A2A !important;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  color: white;
}

.artikel {
  width: 100%;
  background: #F3F9FF;
  color: #0C1A2A !important;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.forfatterBillede {
  height: 60px !important;
  width: 60px !important;
}

.faq-item {
  background: #F3F9FF;
  color: #0C1A2A !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  padding: 20px;
  margin-bottom: 20px;
}

.faq-item:hover {
  scale: 1.02;
}

.faq-item .answer {
  margin-top: 20px;
}

.lavHældning {
  border-radius: 4px;
  background: #13BA00;
  width: 84px;
  height: 9px;
  flex-shrink: 0;
}

input[type=range]::-webkit-slider-thumb {
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #13BA00;
  cursor: pointer;
  -webkit-appearance: none;
}

.inputLeads {
  height: 60px !important;
}

.rådgiverFoto {
  height: 50px !important;
  width: 50px !important;
}



/* Mobile view */

@media (max-width: 800px) {

  .forslagsListe {
    position: relative;
    margin: auto;
    z-index: 9999;
    top: 100%;
    left: 0;
    right: 0;
    overflow: auto;
    max-height: 250px;
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px !important;
  }

  body {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  main {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }

  section {
    margin-top: 2rem !important;
    margin-bottom: 4rem !important;
  }

  .titleHeader {
    font-size: 3.6rem !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
  }
}



/* Large view */

@media (min-width: 800px) {

  .artikel:hover {

    scale: 1.02;
  }

  main {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .titleHeader {
    font-size: 4.5rem !important;
    line-height: 1.3 !important;
    margin-top: 0px !important;
    padding-top: 0px !important;
  }
}

@media (min-width: 1150px) {



  .titleHeader {
    font-size: 5.4rem !important;
  }
}